
<section class="vh-70 bg-image" >
  <div class="mask d-flex align-items-center  gradient-custom-3">
    <div class="container ">
      <div class="row d-flex justify-content-center align-items-center " >
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;"  id = "login">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Log-in</h2>

              <form method="post" action="{% url 'gestion_utilisateurs:login' %}">
                <!--gerer les erreurs-->
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}

                {% csrf_token %}
                

                <div class="form-outline mb-4">
                    <input type="text" id="phone" class="form-control form-control-lg" name="telephone" />
                    <label class="form-label text-white" for="phone">Numero de Telephone</label>
                </div>
                <div class="form-outline">
                        <input type="text" id="form3Examplev2" class="form-control form-control-lg" name="password" />
                        <label class="form-label text-white" for="form3Examplev2">password</label>
                </div>
                
                 

                <div class="d-flex justify-content-center">
                    <button type="submit" 
                      class="btn btn-success btn-block btn-lg gradient-custom-4 text-body text-white">Se connecter</button>
                  </div>

                <p class="text-center text-muted mt-5 mb-0 text-white">Vous n'avez pas de compte? <a id="inscriptionBtn"
                    class="fw-bold text-body text-danger "><u>Creer un compte</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<style>
  #login {
    background: rgb(67,70,161);
    background: linear-gradient(90deg, rgba(67,70,161,1) 7%, rgba(79,107,213,1) 16%, rgba(106,149,234,1) 26%, rgba(141,188,241,1) 38%, rgba(159,219,253,1) 53%, rgba(175,234,255,1) 67%, rgba(222,248,254,1) 80%, rgba(225,249,254,1) 89%, rgba(255,255,255,1) 100%);
  }
</style>

